.banner {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 300px;
    color: white;
    /* align-items: center;     */
}

.banner img{
    overflow: hidden;
    width: 100%;
}

.titulo-banner {
    display: flex;
    position: absolute;
    z-index: 1;
    margin-left: 5%;
    height: 100%;
    align-items: center;
}

.titulo-banner h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

.materias {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.grid-materias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    gap: 40px;
    margin: 0 auto;
}

.card-materias {
    gap: 20px;    
}

.card-materias:hover .imagem-card img {
    transform: scale(1.02);
}

.imagem-card {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.imagem-card img {
    width: 100%;
    border-radius: 10px;
    transition: 1s;
}

.texto-card {
    display: flex;
    flex-direction: column;
    color: black;    
    transition: 0.6s;
}

.card-materias:hover .texto-card {
    color: green;
}

.paragrafo-card {
    margin-top: 20px;
    margin-bottom: 30px;
}


@media (max-width: 1000px) {
    .banner {
        height: 200px;
    }
    .banner img {
        width: 1000px;
    }
    .grid-materias {
        grid-template-columns: 1fr;
        max-width: 600px;
    }
}

@media (max-width: 700px) {
    .banner {
        height: 150px;
    }
    .banner img {
        width: 700px;
    }
}